* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%; /* Garantir que o corpo ocupe toda a altura */
}

.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner {
    height: 100vh; 
    background-image: url("file:///C:/Users/Wagner/Desktop/Nova%20pasta/banner2.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    flex-direction: column; 
    text-align: center; /
}

header {
   width: 100%;
   padding: 60px 4%;
   position: fixed;
   top: 0;
   left: 0;
   transition: .5s;
}

header.rolagem{
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a{
    color: darkgray;
}

header i {
    font-size: 30px;
    color: white;
}

header nav {
    flex: 1; 
    text-align: center; 
}

header ul {
    display: inline-flex; 
    list-style-type: none;
    padding: 0; 
}

header ul li {
    margin: 0 50px; 
}

header ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s; 
}

header ul li a:hover {
    color: #ddd; 
}

h1 {
    margin-bottom: 10px; 
    font-size: 3em; 
}

.highlight {
    color: darkorange; /* Cor "TREINAR" */
}

.highlight-2 {
    color: rgb(0, 0, 0); /* Cor "CONOSCO" */
}

h2 {
    color: white; /* Cor h2 */
}

.content {
    padding: 40px 20px; 
    background-color: #f4f4f4; 
    text-align: center; 
}

.content h2 {
    margin-bottom: 20px; 
}

.content p, .content ul {
    max-width: 800px; 
    margin: 0 auto; 
}

.btn-contato button {
    width: 120px;
    height: 40px;
    border: none; 
    background-color: darkgray;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 16px; 
    font-weight: 500; 
    border-radius: 5px; 
}

.btn-contato button:hover {
    background-color: gray; 
}

a {
    text-decoration: none; 
    color: inherit; 
    cursor: default; 
}
